{
    "env": {
        "node": true,
        "es6": true
    },
    "extends": ["standard", "prettier"],
    "plugins": [
        "prettier"        
    ],
    "rules": {
        "linebreak-style": 0,
        "no-console": 1,
        "prettier/prettier": "error"        
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "experimentalDecorators": true
        },
        "sourceType": "module"
    },
}